.c-bottom-content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.c-bottom-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.c-bottom-content .c-bottom-content-left {
    margin-top: 13px;
}

.c-bottom-content .c-bottom-content-center {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.c-bottom-content .c-bottom-content-center .name-time {
    display: flex;
    justify-content: space-between;
}

.c-bottom-content .c-bottom-content-right {
    width: 40px;
}

.mg-x-px {
    margin: 10px;
}

.dd-column {
    display: flex;
    flex-direction: column;
}


/* 进度条↓↓↓↓↓↓↓↓↓↓↓↓ */
:root {
    --line-h: 2px;
    /* 高度 */
    --diameter: 18;
    /* 直径 */
}

.process-line {
    width: 100%;
    height: 2px;
    background: #dadada;
    margin-top: 10px;
    position: relative;
}

/* 缓存进度条 */
.cache-line {
    /* width: 100%; */
    width: 80%;
    height: var(--line-h);
    /* background: #ccc; */
    background: green;
}

/* 已经播放的 */
.had-played {
    width: 60%;
    height: var(--line-h);
    background: red;
}

/* 播放器游标的盒子 */
.play-node-box {
    position: absolute;
    left: 0;
    width: calc(100% - var(--diameter) / 2 * 1px);
    /* width: 100%; */
    /* background: green; */
    height: var(--line-h);
}

/* 播放进度点 游标 */
.play-node {
    position: absolute;
    width: calc(var(--diameter) * 1px);
    height: calc(var(--diameter) * 1px);
    background: #32c3de;
    border-radius: 50%;
    transition: 1s;
}


/* 进度条↑↑↑↑↑↑↑↑↑↑↑↑ */