.dd-row {
    display: flex;
    flex-direction: row;
}

.dd-v-center {
    align-items: center;
}

.c-head-content {
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}

.c-head-content .left{
    flex: 1;
    text-align: left;
    height: 100%;
    font-size: 24px;
}

.c-head-content .right{
    width: 180px;
}